@{
    ViewBag.Title = "University";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    @Html.ActionLink("Students", "Student")
    @Html.ActionLink("Courses", "Course")
    @Html.ActionLink("Teachers", "Teacher")
</div>


